.body {
  width: 40%;
  height: 90vh;
  margin: 5vh auto;
  background: #df5897;
  font-family: var(--font-principal);
  border-radius: 10px;
}

#title {
  color: white;
}

#description {
  color: white;
  font-family: var(--font-principal);
  margin-left: 20px;
}
